// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';

.bg-admin {
    background-color: rgb(34, 34, 34);
    min-height: 100vh !important;
}

.search-results {
    z-index: 1;
}